/* utility colour classes */

/* blues */

.br-blue-light { color: #05aff2; }
.bg-br-blue-light { background-color: #05aff2; }
.b--br-blue-light { border-color: #05aff2; }
.hover-br-blue-light:hover,
.hover-br-blue-light:focus { color: #05aff2; }
.hover-bg-br-blue-light:hover,
.hover-bg-br-blue-light:focus { background-color: #05aff2; }

.br-blue { color: #035c7f; }
.bg-br-blue { background-color: #035c7f; }
.b--br-blue { border-color: #035c7f; }
.hover-br-blue:hover,
.hover-br-blue:focus { color: #035c7f; }
.hover-bg-br-blue:hover,
.hover-bg-br-blue:focus { background-color: #035c7f; }

.br-blue-dark { color: #012e40; }
.bg-br-blue-dark { background-color: #012e40; }
.b--br-blue-dark { border-color: #012e40; }
.hover-br-blue-dark:hover,
.hover-br-blue-dark:focus { color: #012e40; }
.hover-bg-br-blue-dark:hover,
.hover-bg-br-blue-dark:focus { background-color: #012e40; }

/* greens */

.br-green-light { color: #9fd968; }
.bg-br-green-light { background-color: #9fd968; }
.b--br-green-light { border-color: #9fd968; }
.hover-br-green-light:hover,
.hover-br-green-light:focus { color: #9fd968; }
.hover-bg-br-green-light:hover,
.hover-bg-br-green-light:focus { background-color: #9fd968; }

.br-green { color: #5d7f3d; }
.bg-br-green { background-color: #5d7f3d; }
.b--br-green { border-color: #5d7f3d; }
.hover-br-green:hover,
.hover-br-green:focus { color: #5d7f3d; }
.hover-bg-br-green:hover,
.hover-bg-br-green:focus { background-color: #5d7f3d; }

.br-green-dark { color: #2f401f; }
.bg-br-green-dark { background-color: #2f401f; }
.b--br-green-dark { border-color: #2f401f; }
.hover-br-green-dark:hover,
.hover-br-green-dark:focus { color: #2f401f; }
.hover-bg-br-green-dark:hover,
.hover-bg-br-green-dark:focus { background-color: #2f401f; }

/* purples */

.br-purple-light { color: #f288c2; }
.bg-br-purple-light { background-color: #f288c2; }
.b--br-purple-light { border-color: #f288c2; }
.hover-br-purple-light:hover,
.hover-br-purple-light:focus { color: #f288c2; }
.hover-bg-br-purple-light:hover,
.hover-bg-br-purple-light:focus { background-color: #f288c2; }

.br-purple { color: #7f4866; }
.bg-br-purple { background-color: #7f4866; }
.b--br-purple { border-color: #7f4866; }
.hover-br-purple:hover,
.hover-br-purple:focus { color: #7f4866; }
.hover-bg-br-purple:hover,
.hover-bg-br-purple:focus { background-color: #7f4866; }

.br-purple-dark { color: #402433; }
.bg-br-purple-dark { background-color: #402433; }
.b--br-purple-dark { border-color: #402433; }
.hover-br-purple-dark:hover,
.hover-br-purple-dark:focus { color: #402433; }
.hover-bg-br-purple-dark:hover,
.hover-bg-br-purple-dark:focus { background-color: #402433; }
